/obj/Debug/.NETStandard,Version=v2.0.AssemblyAttributes.cs
/obj/Debug/ArchipelagoBepin5Template.assets.cache
/ArchipelagoBepin5Template.csproj
/obj/Debug/ArchipelagoBepin5Template.csproj.AssemblyReference.cache
/obj/Debug/ArchipelagoBepin5Template.csproj.CopyComplete
/obj/Debug/ArchipelagoBepin5Template.csproj.CoreCompileInputs.cache
/obj/Debug/ArchipelagoBepin5Template.csproj.FileListAbsolute.txt
/obj/ArchipelagoBepin5Template.csproj.nuget.dgspec.json
/obj/ArchipelagoBepin5Template.csproj.nuget.g.props
/obj/ArchipelagoBepin5Template.csproj.nuget.g.targets
/obj/Debug/ArchipelagoBepin5Template.GeneratedMSBuildEditorConfig.editorconfig
/C:/My Game/BepInEx/plugins/Uktena64Randomizer/Assembly-CSharp.dll
/C:/My Game/BepInEx/plugins/Uktena64Randomizer/Assembly-CSharp.pdb
/C:/My Game/BepInEx/plugins/Uktena64Randomizer/Assembly-CSharp-firstpass.dll
/C:/My Game/BepInEx/plugins/Uktena64Randomizer/Assembly-CSharp-firstpass.pdb
/C:/My Game/BepInEx/plugins/Uktena64Randomizer/com.rlabrecque.steamworks.net.dll
/C:/My Game/BepInEx/plugins/Uktena64Randomizer/com.rlabrecque.steamworks.net.pdb
/.idea/.idea.Uktena64Client.dir/.idea/encodings.xml
/Folder.DotSettings.user
/.idea/.idea.Uktena64Client.dir/.idea/indexLayout.xml
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/obj/rider.project.model.nuget.info
/obj/rider.project.restore.info
/obj/Debug/Uktena64Rando.assets.cache
/obj/Debug/Uktena64Rando.csproj.AssemblyReference.cache
/obj/Uktena64Rando.csproj.nuget.dgspec.json
/obj/Uktena64Rando.csproj.nuget.g.props
/obj/Uktena64Rando.csproj.nuget.g.targets
/obj/Debug/Uktena64Rando.GeneratedMSBuildEditorConfig.editorconfig
/C:/My Game/BepInEx/plugins/Uktena64Randomizer/Uktena64Randomizer.deps.json
/C:/My Game/BepInEx/plugins/Uktena64Randomizer/Uktena64Randomizer.dll
/obj/Debug/Uktena64Randomizer.dll
/C:/My Game/BepInEx/plugins/Uktena64Randomizer/Uktena64Randomizer.pdb
/obj/Debug/Uktena64Randomizer.pdb
/C:/My Game/BepInEx/plugins/Uktena64Randomizer/Unity.InputSystem.dll
/C:/My Game/BepInEx/plugins/Uktena64Randomizer/Unity.InputSystem.pdb
/C:/My Game/BepInEx/plugins/Uktena64Randomizer/Unity.Postprocessing.Runtime.dll
/C:/My Game/BepInEx/plugins/Uktena64Randomizer/Unity.Postprocessing.Runtime.pdb
/C:/My Game/BepInEx/plugins/Uktena64Randomizer/Unity.TextMeshPro.dll
/C:/My Game/BepInEx/plugins/Uktena64Randomizer/Unity.TextMeshPro.pdb
/C:/My Game/BepInEx/plugins/Uktena64Randomizer/UnityEngine.UI.dll
/C:/My Game/BepInEx/plugins/Uktena64Randomizer/UnityEngine.UI.pdb
/.idea/.idea.Uktena64Client.dir/.idea/vcs.xml
